﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>AngularJS User Registration and Login Example</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link href="/watchapp/app-content/app.css" rel="stylesheet" />
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view></div>
            </div>
        </div>
    </div>
<!-- Angular Material requires Angular.js Libraries -->
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="http://code.angularjs.org/1.6.0/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.6.0/angular-route.min.js"></script>
    <script src="http://code.angularjs.org/1.6.0/angular-cookies.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-messages.min.js"></script>

    <script src="/watchapp/app.js"></script>
    <script src="/watchapp/app-services/authentication.service.js"></script>

    <script src="/watchapp/app-services/user.service.js"></script> 


    <script src="/watchapp/home/home.controller.js"></script>
    <script src="/watchapp/login/login.controller.js"></script>
    <script src="/watchapp/register/register.controller.js"></script>
    
 

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
</body>
</html>